<div class="auth-wrapper">
	<div (click)="redirect2LogInPage()" class="sign-up-div">
		{{'To Sign In Page'|translate}} &nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right-square"></i>
	</div>
	<form [formGroup]="signupForm" (ngSubmit)="registerUser()">
		<h3>{{'Please Sign Up'|translate}}</h3>
		<div class="form-group">
			<label>{{'First Name'|translate}}</label>
			<input
				type="text"
				class="form-control"
				formControlName="firstName"
				placeholder="{{'Enter First Name'|translate}}"
				required />
		</div>
		<div class="form-group">
			<label>{{'Last Name'|translate}}</label>
			<input
				type="text"
				class="form-control"
				formControlName="lastName"
				placeholder="{{'Enter Last Name'|translate}}"
				required />
		</div>
		<div class="form-group">
			<label>{{'Phone Number'|translate}}</label>
			<input
				type="text"
				class="form-control"
				formControlName="phoneNumber"
				placeholder="{{'Enter Phone Number'|translate}}"
				required />
		</div>
		<div class="form-group">
			<label>{{'Password'|translate}}</label>
			<input
				type="text"
				class="form-control"
				formControlName="password"
				placeholder="{{'Password'|translate}}"
				required />
		</div>
		<button type="submit" class="submit btn btn-block btn-primary">{{'Sign up'|translate}}</button>
	</form>
</div>